body {
    background: #cfd2d3;
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    min-height: 100vh;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 25px 50px;
}


/* Trying Template Aniamtion*/
.btn-slide {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.25s ease;
}

.btn-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #198754;
    transition: width 0.25s ease;
    z-index: -1;
}

.btn-slide::before {
    content: "\279C";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.btn-slide:hover {
    color: transparent !important;
}

.btn-slide:hover::after {
    width: 100%;
}

.btn-slide:hover::before {
    opacity: 1;
}